.catalog {
  background-color: #1b2d37;
  font-family: $roboto-condenced;
  h2 {
    margin: 0;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    color: $white;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    display: block;
    width: 370px;
    height: 620px;
    font-family: $roboto-condenced;
    font-size: 20px;
    line-height: 30px;
    background-image: url("../../img/image1.png");
    background-repeat: no-repeat;
    color: $white;
    opacity: 0.2;

    span {
      opacity: 1;
    }
  }
}
