.description {
  padding: 0 calc(50% - 590px);
  margin-bottom: 110px;
}

.description__wrapper {
  position: relative;
  padding-left: 185px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 318px;
    background-image: url("../../img/2005.png");
    background-repeat: no-repeat;
    background-position: -25px 3px;
    content: "";
  }
}

.description h2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: $roboto-condensed;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
}

.description p {
  margin: 0;
  margin-bottom: 21px;
  font-family: $ptmono;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.description a {
  display: block;
  width: 180px;
  padding: 13px 0;
  margin-top: 39px;
  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  color: $blue;
  border: 1px solid $blue;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $blue;
    color: $white;
  }

  &:active {
    background-color: rgba($blue, 0.4%);
  }
}

//tablet
@media (max-width: $tablet-width) {
  .description {
    padding: 0 calc(50% - 359px);
    margin-bottom: 84px;
  }

  .description__wrapper {
    padding-left: 188px;

    &::before {
      top: -4px;
      left: -6px;
      height: 370px;
      background-size: 246px 355px;
    }
  }

  .description h2 {
    margin-bottom: 27px;
    font-size: 32px;
    line-height: 45px;
  }

  .description p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 19px;

    span {
      display: none;
    }
  }
}

//mobile
@media (max-width: $mobile-width) {
  .description {
    padding: 0 calc(50% - 144px);
    margin-bottom: 66px;
  }

  .description__wrapper {
    padding: 0;

    &::before {
      display: none;
    }
  }

  .description h2 {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 22px;
  }

  .description__wrapper p:first-of-type {
    margin-bottom: 41px;
  }

  .description__wrapper p:last-of-type {
    margin-bottom: 27px;
  }

  .description a {
    margin-top: 0;
  }
}
