.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    padding-bottom: 55px;
  }

  &__logo {
    display: flex;
    margin-bottom: 54px;
  }

  &__logo-img {
    margin-top: 3px;
    margin-right: 14px;
  }

  &__logo-content {
    h3 {
      margin: 0;
      margin-top: 9px;
      font-family: $font-title;
      font-size: 22px;
      font-weight: bold;
      line-height: 29px;
      color: #203c42;
      text-transform: capitalize;
    }

    p {
      margin: 0;
      padding-left: 2px;
      font-family: $font-title-desc;
      font-size: 12px;
      line-height: 14px;
      color: #788891;
    }
  }

  &__social-list {
    display: flex;
    justify-content: space-between;
    width: 112px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__social-link {
    display: block;
    width: 27px;
    height: 27px;
  }

  &__menu {
    h2 {
      margin: 0;
      margin-bottom: 29px;
      font-family: $font-title;
      font-weight: normal;
      font-size: 15px;
      line-height: 16px;
      color: $footer;
      text-transform: uppercase;
    }
  }

  &__menu-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__menu-item {
    width: 50%;
  }

  &__menu-link {
    font-family: $footer;
    font-size: 15px;
    line-height: 25px;
    color: rgba($footer, 0.5%);
  }

  &__feedback {
    h2 {
      margin: 0;
      margin-bottom: 29px;
      font-family: $font-title;
      font-weight: normal;
      font-size: 15px;
      line-height: 16px;
      color: $footer;
      text-transform: uppercase;
    }

    p {
      margin: 0;
      font-family: $footer;
      font-size: 15px;
      line-height: 25px;
      color: rgba($footer, 0.5%);
    }

    a {
      display: block;
      font-family: $footer;
      font-size: 15px;
      line-height: 25px;
      color: rgba($footer, 0.5%);
    }
  }

  &__copyright {
    min-height: 52px;
    border-top: 1px solid rgba($footer, 0.2%);
  }

  &__copyright-wrapper {
    display: flex;
    justify-content: space-between;

    p {
      font-family: $font-text;
      font-size: 13px;
      line-height: 24px;
      text-transform: uppercase;
      color: rgba($footer, 0.5%);
    }
  }
}
