.footer__content {
  display: flex;
  justify-content: center;
  padding-top: 62px;
  padding-bottom: 51px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer__wrapper {
  margin-right: 173px;
}

.footer__logo {
  display: flex;
  width: 250px;
  margin-bottom: 51px;
}

.footer__logo-img {
  margin-top: 3px;
  margin-right: 14px;
}

.footer__logo-content h3 {
  margin: 0;
  margin-top: 9px;
  font-family: $roboto-condensed;
  font-size: 25px;
  font-weight: bold;
  line-height: 29px;
  color: #203c42;
  text-transform: capitalize;
}

.footer__logo-content p {
  margin: 0;
  padding-left: 2px;
  font-family: $roboto;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}


.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  width: 130px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-item {
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer__social-link {
  display: block;
  width: 27px;
  height: 27px;
}

.footer__social-link svg {
  fill: #cdcdcd;
}

.footer__social-link:hover svg {
  fill: rgba(#cdcdcd, 0.5%);
}

.footer__menu {
  width: 615px;
  margin-right: 41px;
  margin-top: 4px;
}

.footer__menu h2 {
  margin: 0;
  margin-bottom: 24px;
  font-family: $roboto-condensed;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $footer;
  text-transform: uppercase;
}

.footer__menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__menu-item {
  width: 45%;
  padding-right: 20px;
}

.footer__menu-link {
  font-family: $ptmono;
  font-size: 15px;
  line-height: 25px;
  color: rgba($footer, 0.5%);

  &:hover,
  &:focus {
    color: rgba($footer, 0.9%);
  }
}

.footer__feedback {
  margin-top: 4px;
}

.footer__feedback h2 {
  margin: 0;
  margin-bottom: 24px;
  font-family: $roboto-condensed;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $footer;
  text-transform: uppercase;
}

.footer__feedback p {
  margin: 0;
  font-family: $ptmono;
  font-size: 15px;
  line-height: 25px;
  color: rgba($footer, 0.5%);
}

.footer__feedback a {
  display: block;
  font-family: $ptmono;
  font-size: 15px;
  line-height: 25px;
  color: rgba($footer, 0.5%);

  &:hover,
  &:focus {
    color: rgba($footer, 0.9%);
  }
}


.footer__copyright {
  border-top: 1px solid rgba($footer, 0.2%);

  .container {
    max-width: 1410px;
  }
}

.footer__copyright-wrapper {
  display: flex;
  min-height: 52px;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright p,
.footer__copyright a {
  margin: 0;
  font-family: $ptmono;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba($footer, 0.5%);
}

.footer__copyright a:hover,
.footer__copyright a:focus {
  color: rgba($footer, 0.9%);
}

.footer__copyright p:first-child {
  margin-right: 67px;
}

.footer__clone {
  margin: 0;
  margin-right: 171px;
  font-family: $ptmono;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba($footer, 0.5%);
}

.footer__clone + p {
  margin-right: 389px;
}

details > summary {
  list-style-type: none;
}

@media (max-width: 1420px) {
  .footer__content {
    padding-top: 62px;
    padding-bottom: 59px;
  }

  .footer__wrapper {
    margin-right: 20px;
  }

  .footer__menu {
    margin-right: 20px;
  }

  .footer__copyright {
    padding: 0 calc(50% - 490px);
  }

  .footer__copyright p {
    margin: 0;
  }
}

//tablet
@media (max-width: $tablet-width) {
  .footer__content {
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom: 36px;
  }

  .footer__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 0;
    margin-bottom: 38px;
    padding-bottom: 21px;
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__logo-img {
    margin-right: 16px;
  }

  .footer__social-list {
    padding-top: 15px;
  }

  .footer__menu {
    flex-grow: 1;
    width: 40%;
    margin-right: 34px;
    margin-top: 2px;
  }

  .footer__menu-list {
    flex-direction: column;
  }

  .footer__menu-item {
    width: 100%;
  }

  .footer__menu-item--company {
    order: 1;
  }

  .footer__menu-item--products {
    order: 2;
  }

  .footer__menu-item--production {
    order: 3;
  }

  .footer__menu-item--installation {
    order: 4;
  }

  .footer__menu-item--accessories {
    order: 5;
  }

  .footer__menu-item--delivery {
    order: 6;
  }

  .footer__menu-item--contacts {
    order: 7;
  }

  .footer__menu h2 {
    margin-left: 2px;
    letter-spacing: 0.7px;
  }

  .footer__feedback {
    width: 40%;
    flex-grow: 1;
    margin-top: 2px;
    margin-right: 0;
  }

  .footer__feedback h2 {
    letter-spacing: 0.7px;
  }

  .footer__copyright-wrapper {
    min-height: 69px;
  }

  .footer__copyright p:first-child {
    display: none;
  }

  .footer__clone {
    margin: 0;
    padding-top: 20px;
  }
}

//mobile
@media (max-width: $mobile-width) {
  .footer__content {
    flex-direction: column;
    padding-top: 44px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  .footer__wrapper {
    display: block;
    padding-bottom: 51px;
    margin-bottom: 0;
  }

  .footer__logo {
    width: 217px;
    margin: 0 auto;
  }

  .footer__social-list {
    margin: 0 auto;
  }

  .footer__menu {
    width: 100%;

    h2 {
      margin: 0;
    }

    details {
      padding-top: 28px;
      padding-bottom: 27px;
      border-top: 1px solid rgba($footer, 0.2%);
      border-bottom: 1px solid rgba($footer, 0.2%);
    }
  }

  .footer__menu-list {
    margin-top: 33px;
  }

  .footer__menu-item {
    padding-right: 0;
  }

  .footer__feedback {
    width: 100%;

    h2 {
      margin: 0;
    }

    p {
      margin-top: 33px;
    }

    details {
      padding-top: 26px;
      padding-bottom: 26px;
      border-bottom: 1px solid rgba($footer, 0.2%);
    }
  }

  details {
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
  }

  details summary {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      top: 7px;
      right: 2px;
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
      content: "";
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  details[open] summary::after {
    display: none;
  }

  .footer__copyright {
    border-top: none;
  }

  .footer__copyright-wrapper {
    flex-direction: column;
    justify-content: center;
    row-gap: 21px;
    min-height: 123px;
  }

  .footer__clone {
    text-align: center;
    margin-bottom: 18px;
  }
}
