.header {
  min-height: 876px;
  padding: 0 calc(50% - 706px);
  padding-bottom: 2px;
  margin-bottom: 112px;
  background-color: #1b2d37;
  background-image: url("../../img/bg_ripples.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 225px;
  }

  &__logo {
    display: flex;
  }

  &__logo-img {
    margin-top: 3px;
    margin-right: 15px;
  }

  &__logo-content {
    width: 154px;

    h3 {
      margin: 0;
      margin-top: 9px;
      font-family: $roboto-condensed;
      font-size: 22px;
      font-weight: bold;
      line-height: 29px;
      color: $white;
      text-transform: capitalize;
      letter-spacing: 1.5px;
    }

    p {
      margin: 0;
      padding-left: 2px;
      font-family: $roboto;
      font-size: 12px;
      line-height: 14px;
      color: #788891;
    }
  }

  &__contacts-menu {
    display: flex;
  }

  &__contacts-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__contacts-item {
    margin-right: 51px;
  }

  &__contacts-link {
    padding-left: 34px;
    font-family: $ptmono;
    font-size: 16px;
    line-height: 18px;
    color: $white;
    text-decoration: none;

    span {
      display: inline-block;
      padding-left: 10px;
      margin-bottom: 3px;
    }
  }

  &__btn {
    width: 180px;
    height: 45px;
    margin-top: 6px;
    border: 1px solid $white;
    border-radius: 5px;
  }

  &__main {
    position: relative;
    width: 38%;
    margin-right: auto;

    &::before {
      position: absolute;
      top: -103px;
      right: -955px;
      width: 700px;
      height: 630px;
      background-image: url("../../img/header__img.png"), url("../../img/bg_triangles.svg");
      background-position: -7px 47px, 85.6% 84%;
      background-repeat: no-repeat;
      content: "";
    }

    h1 {
      width: 778px;
      margin: 0;
      margin-left: -6px;
      margin-bottom: 28px;
      font-family: $roboto-condensed;
      font-size: 80px;
      font-weight: bold;
      line-height: 94px;
      color: $white;
      text-transform: uppercase;
      letter-spacing: -4.5px;
    }

    p {
      position: relative;
      width: 645px;
      margin: 0;
      padding-left: 94px;
      font-family: $ptmono;
      font-size: 22px;
      font-weight: normal;
      line-height: 34px;
      color: $white;

      &::before {
        position: absolute;
        left: 0;
        top: 17px;
        width: 66px;
        height: 2px;
        background-color: $white;
        content: "";
      }
    }
  }

  &__main-text {
    margin-top: 72px;
  }

  &__main-btn {
    width: 407px;
    height: 55px;
    margin-left: 93px;
    margin-top: 44px;
    font-size: 16px;
    line-height: 19px;
    background-color: $blue;
    border: none;
    border-radius: 5px;
  }

  b {
    display: block;
    width: 93px;
    margin-top: 130px;
    margin-left: -39px;
    font-family: $ptmono;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba($white, 0.5%);
    transform: rotate(-90deg);
  }
}
