.btn {
  font-family: $roboto-condenced;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  background-color: transparent;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}
