input[type="text"],
input[type="number"] {
  display: block;
  width: 270px;
  padding: 15px 10px;
  margin-right: 30px;
  margin-bottom: 40px;
  font-family: $ptmono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background-color: rgba($white, 0.1%);
  border: none;
  box-sizing: border-box;

  &::placeholder {
    color: $white;
  }
}

input[type="number"] {
  margin-right: 0;
}

textarea {
  width: 570px;
  height: 154px;
  padding: 13px 14px;
  margin-bottom: 37px;
  font-family: $ptmono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background-color: rgba($white, 0.1%);
  color: $white;
  border: none;
  box-sizing: border-box;
}
