//var
$roboto-condenced: "Roboto Condenced", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;
$ptmono: "PT Mono", "Arial", sans-serif;

//colors
$white: #ffffff;
$blue: #00b2ff;
$footer: #1b2d37;
