@font-face {
  font-family: "PT Mono";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/ptmono.woff2") format("woff2"),
    url("../fonts/ptmono.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/robotocondensedregular.woff2") format("woff2"),
    url("../fonts/robotocondensedregular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/robotocondensedbold.woff2") format("woff2"),
    url("../fonts/robotocondensedbold.woff") format("woff");
}
